body {
    margin: 0;
    font-family: 'Georgia', serif;
    background: linear-gradient(black, #3b0000);
    color: #ffcccc;
    text-align: center;
    overflow-x: hidden;
}

header {
    padding: 40px;
}

h1 {
    font-size: 4rem;
    color: crimson;
    text-shadow: 0 0 20px red;
    letter-spacing: 3px;
    font-style: oblique;
}

.subtitle {
    font-style: italic;
    color: #aa0000;
}

.about {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.8;
    color: aqua;
}

.gallery h2 {
    color: crimson;
    margin-top: 40px;
}

#media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.KinGPiN{
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    color: rgb(19, 205, 238);
    font-family:'georgia',serif;
    font-size: 40px;
    letter-spacing: 1px;
    font-style: italic;
    text-shadow: 0 0 10px rgba(190, 16, 16, 0.568);
    font-family: cursive
}

img, video {
    width: 300px;
    border: 3px solid crimson;
    box-shadow: 0 0 20px red;
    border-radius: 10px;
    transition: transform 0.4s ease;
}

img:hover, video:hover {
    transform: scale(1.05);
}
#startMusic{
    background-color: crimson; /*normal color*/
    background: linear-gradient(black,darkred);
    color: brown;
    border: none;
    padding: 15px 30px;
    font-family: georgia, serif;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 2px;
    transition: 0.3s ease;
    cursor: pointer;
}
#starMusic:hover{
    background-color: darkred; /*hover*/
    box-shadow: 0 0 20px red;
    transform: scale(1.05);
}

.gothic-divider{
    border: none;
    height: 2px;
    width: 60%;
    margin: 40px auto;
    background: linear-gradient(to right, transparent, crimson, transparent);
}
body{
    background: #0a0a0a
    url(`https:www.transparenttextures.com/patterns/dark-mosaic.png`);
}